PASSWORD_RESET_URL_BASE=http://localhost:5173
SMTP_PROVIDER=gmail
SMTP_USERNAME=your_gmail@gmail.com
SMTP_PASSWORD=your_16_digit_google_app_password
SMTP_FROM_EMAIL=your_gmail@gmail.com
SMTP_FROM_NAME=ProShare
SMTP_USE_TLS=true
SMTP_USE_SSL=false
IDENTITY_SHOW_RESET_LINK=false
